<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SaveFilePath.Root" value="C:\Users\Admin\Desktop\TempCS\" />
    <add key="SaveFilePath.Monitor" value="Monitor\" />
    <add key="SaveFilePath.Log" value="logs\" />
    <add key="SyncFilePath" value="F:\Sync-To-ECM" />
    <add key="JsonFileName.Files" value="data.json" />
    <add key="JsonFileName.Users" value="users.json" />
    <add key="Protocol.Name" value="ECMProtocol" />
    <add key="ApiUrl" value="https://localhost:44372/api" />
    <add key="WebUrl" value="https://localhost:44372" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>