<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\TempCS\logs\" />
    <datePattern value="'ecmcs_log_'yyyyMMdd'.log'" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <staticLogFileName value="false" />
    <maxSizeRollBackups value="3" />
    <layout type="ECMCS.App.Extension.log4net.CustomPatternLayout, ECMCS.App">
      <conversionPattern value="[%-11property{appName}][%date][%-5level] - %encodedmessage %newline" />
    </layout>
  </appender>
  <root>
    <level value="INFO" />
    <appender-ref ref="RollingLogFileAppender" />
  </root>
</log4net>